body {
  /*background: #262524;*/
  background-image: linear-gradient(to right, #303030, #292929, #262524, #262524, #292929, #303030);
}

.app {
  border: 0px solid #262524;
  border-radius: 25px 25px;

  box-shadow: 10px 10px 60px #000000;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-height: 98%;
  max-width: 98%;
  margin: auto;
}